body{
    margin: 0px;
    font-family: 'Antic Slab', Montserrat;
    background-color: #f4f4f4;
}   
header, footer{
    background-color: rgb(75, 75, 75);
    color: white;
    text-align: center;
    max-width: 100%;
}
#course-title{
    font-size: 3vmax;
    padding: 2em;
    margin: 0px;
}
nav {
    background-color: rgb(24, 23, 23);
    justify-content: center;
    align-items: center;
    padding: 5px auto;
    margin: 0 auto;
    max-width: 800px;
}
nav a:hover {
    color: #6790ff;
    background-color: rgb(50, 50, 50);
    transition: background-color 0.3s ease, color 0.3s ease;
    border: 1px solid #ccc;
    text-shadow: #ccc 1px 1px 2px;
}
nav ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
nav a {
    display: block;
    text-decoration: none;
    color: white;  
    font-size: larger;
    padding: 10px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem; 
}

.top-part-card {
    text-align: center;
    margin: 10px;
    font-size: 6vmax;
}
img {
    max-width: 100%;
    height: auto;
}
footer, .card ul{
    padding: 1em 0 5em 0;
    font-size: x-large;
}
.card ul a:hover {
    color: #6790ff;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: 1px solid #ccc;
    text-shadow: #ccc 1px 1px 2px;
}
.card ul a:visited {
    color: purple;
}

#lastupdated {
    color:rgb(234, 238, 183);
    font-weight: bold;
}

@media (min-width: 800px){
    header, footer, nav{
        max-width: 1440px;
        margin: 0 auto;
    }
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:  1fr;
        max-width: 1200px;
        margin: 0 auto;
    }
    .card {background-color: white;
    border: 1px solid #1a1a1a;
    border-radius: 20px;
    max-width: 100;
    height: fit-content;
    margin: .5rem;
    padding: 1rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    }
    #left-card{
        grid-column: 1 / span 2;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 7% 1fr 1fr;
    }
    #top-part-card{
        grid-column: 1 / span 3;
        grid-row: 1 / span 3;
        text-align: center;
        font-size: 2.5vmax;
    }
    #intro-self{
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin 0px 1em
    }  
    #intro{
        grid-column: 1 / span 3;
        text-align: justify;
    }
    #my-pic{
        grid-column: 3 / span 1;
        grid-row: 1 / span 2;
        max-height: auto;
        align-self: center;
        justify-self: center;
        border-radius: 20px;
    }
    #Ph-pic{
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
        max-height: auto;
        align-self: center;
        justify-self: center;
        border-radius: 20px;
    }
    #about-ph{
        grid-column: 2 / span 2;
        grid-row: 3 / span 1;
        text-align: justify;
        align-self: center;
    }
    #right-card{
        grid-column: 3 / span 1;
    }
    nav ul {   
        display: flex;
        justify-content: space-around;

    }
    nav ul li{
        flex: 1 1 100%
    }
    Nav a {
        padding: .5rem;
    }
}

